<div class="teams">
  <input type="text" class="barra-gen" [(ngModel)]="nombreObjeto" placeholder="pon el nombre del objeto">
  <button class="big" (click)="buscarObjeto()">Buscar</button>

  <ul>
    <li class="equipos" *ngFor="let objeto of objetosFiltrados">
      <img class="imagen" [src]="objeto.sprite">
      <span class="nombre-pokemon">{{ objeto.nombre }}</span>
      <div class="botones-container">
        <input type="number" [(ngModel)]="cantidad" class="barra-gen" placeholder="Seleccionar cantidad">
        <button class="little" (click)="agregarAlInventario(objeto)">Agregar</button>
      </div>
    </li>
  </ul>
</div>
