<div class="teams">
  <input type="text"  class="barra-gen" [(ngModel)]="this.nombreObjeto" placeholder="pon el nombre del objeto">
  <button class="big" (click)="buscarObjeto()">Buscar</button>
  <ul>
    <li class="equipos">
      <!-- centro <li class="equipos" *ngFor="let item of pokeObjetos; let i = index"> -->
        <img class="imagen" [src]="this.objeto.sprite">

      <span class="nombre-pokemon">
        {{objeto.nombre}}</span>
      <div class="botones-container">
        <input type="number" [(ngModel)]="cantidad" class="barra-gen" placeholder="Seleccionar cantidad">
        <button class="little" (click)="agregarAlInventario()">Agregar</button>
      </div>
      <!--</li> -->
    </li>
  </ul>
</div>
