<div class="teams">
  <input type="text" class="barra-gen" placeholder="pon el nombre del objeto">
  <button class="big">Buscar</button>
  <ul>
    <li class="equipos">
      <!-- centro <li class="equipos" *ngFor="let item of pokeObjetos; let i = index"> -->
      <span class="nombre-pokemon">
        imagen objeto</span>
      <span class="nombre-pokemon">
        nombre objeto</span>
      <div class="botones-container">
        <button class="little">Seleccionar cantidad</button>
        <button class="little">Agregar</button>
      </div>
      <!--</li> -->
    </li>
  </ul>
</div>
