:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #4A7B59;
  overflow-y: auto;
}

.imagenLogueo {
  display: flex;
}

.formularioRegistro {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #3b6b46;
  border-radius: 8px;
  max-width: 500px;
  align-items: center;
  margin-bottom: 20px;
}

label {
  flex: 1;
  text-align: left;
  font-weight: bold;
  font-size: 1.3rem;
}

.Error {
  font-size: 1rem;
  color: red;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  font-size: large;
  flex: 2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  /* Para que el input ocupe todo el espacio disponible en el contenedor */
}

.botones {
  cursor: pointer;
}

.SalirRegistro,
.Confirmar,
.Registarse,
.IniciarSesion {
  border: 2px solid #4A7B59;
  border-radius: 8px;
  padding: 30px 100px 30px 100px;
  font-size: 20px;
  background-color: white;
  transition-duration: 0.3s;
  cursor: pointer;
}

.SalirRegistro {
  margin-left: 20%;
  margin-bottom: 50px;
}

.Confirmar {
  margin-left: 12%;
  margin-bottom: 50px;
}

.Registarse {
  margin-left: 35%;
  margin-bottom: 50px;
}

.IniciarSesion {
  margin-left: 34.3%;
}

.Confirmar:hover,
.SalirRegistro:hover,
.IniciarSesion:hover,
.Registarse:hover {
  background-color: #819875;
  color: white;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Alinea el input y el mensaje de error verticalmente */
}
