:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #4A7B59;
  overflow-y: auto;
}

.imagenLogueo {
  display: flex;
}

.SalirRegistro {
  margin-left: 20%;
  margin-bottom: 50px;
}

.Confirmar {
  margin-left: 12%;
  margin-bottom: 50px;
}

.Registarse {
  margin-left: 35%;
  margin-bottom: 50px;
}

.IniciarSesion {
  margin-left: 35.1%;
}

.formularioRegistro {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #3b6b46;
  border-radius: 8px;
  max-width: 500px;
  align-items: center;
  margin-bottom: 20px;
  width: 90%;
  /* Para que se adapte a la mayoría de pantallas */
}

label {
  flex: 1;
  text-align: left;
  font-weight: bold;
  font-size: 1.3rem;
}

.Error {
  font-size: 1rem;
  color: red;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  font-size: large;
  flex: 2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.botones {
  cursor: pointer;
}

.SalirRegistro,
.Confirmar,
.Registarse,
.IniciarSesion {
  border: 2px solid #4A7B59;
  border-radius: 8px;
  padding: 15px 40px;
  /* Tamaños más manejables */
  font-size: 1.1rem;
  background-color: white;
  transition-duration: 0.3s;
  cursor: pointer;
  width: 100%;
  /* Hace que los botones ocupen el ancho disponible */
  max-width: 300px;
  /* Limita el tamaño en pantallas grandes */
  margin-bottom: 20px;
}

.Confirmar:hover,
.SalirRegistro:hover,
.IniciarSesion:hover,
.Registarse:hover {
  background-color: #819875;
  color: white;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Media Queries para pantallas medianas */
@media (max-width: 768px) {
  .formularioRegistro {
    width: 80%;
    /* Reduce el ancho en pantallas medianas */
  }

  label {
    font-size: 1.1rem;
  }

  .SalirRegistro,
  .Confirmar,
  .Registarse,
  .IniciarSesion {
    font-size: 1rem;
    padding: 12px 30px;
  }
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 480px) {
  .formularioRegistro {
    width: 90%;
    /* Asegura que el formulario se ajuste a pantallas pequeñas */
    padding: 15px;
  }

  label {
    font-size: 1rem;
  }

  .SalirRegistro,
  .Confirmar,
  .Registarse,
  .IniciarSesion {
    font-size: 0.9rem;
    padding: 10px 20px;
    /* Ajusta el tamaño de padding en pantallas pequeñas */
  }

  .imagenUsuario {
    width: 70%;
  }

  input {
    font-size: 1rem;
  }

  .Error {
    font-size: 0.875rem;
  }
}
