:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #819875;
}

.listaPokemon {
  max-height: 50%;
  flex-grow: 2;
  overflow-y: auto;
  border-radius: 15PX;

  background-color: #E5F9E0;
}

.pokemon-imagen {
  width: 100%;
  /* Tamaño de la imagen */
  height: 100%;
  margin-bottom: 8px;
  /* Espacio entre la imagen y el botón */
}

.poketeam {
  background-color: #819875;
  width: 100%;
  flex: 2;
  border-radius: 15PX;
  justify-content: center;
  align-items: center;
}

.pokemon-grid {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* Para que los elementos se ajusten en múltiples líneas si es necesario */
}

.pokemon {
  margin-top: 2.55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centra la imagen y el botón */
  justify-content: center;
  width: 120px;
  /* Ancho de cada tarjeta de Pokémon */
  padding: 10px;
  background-color: #819875;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}


.zonabotones {
  background-color: #E5F9E0;
  flex: .5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  border-radius: 15PX;
}


.agregar,
.guardar,
.cambiar {
  width: 80%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 15px 6px 15px;
  border-radius: 8px;
  font-size: 15px;
  background-color: white;
  border: 2px solid #4A7B59;
  transition-duration: 0.3s;
}

.eliminar {
  width: 10%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 40px 5px 40px;

  border-radius: 8px;
  font-size: 15px;
  background-color: white;
  border: 2px solid #4A7B59;
  transition-duration: 0.3s;
}

.guardar:hover,
.agregar:hover,
.cambiar:hover,
.eliminar:hover {
  background-color: #4A7B59;
  color: white;
}
