<div class="listaPokemon">
  <app-lista-pokemon (pokemonAgregado)="seleccionarPokemon($event)"
    (pokemonAgregadoDirectamente)="agregarPokemonDirecto($event)">
  </app-lista-pokemon>
</div>

<div class="poketeam">
  <div class="pokemon-grid">
    <div *ngFor="let pokemon of pokemonesEnEquipo" class="pokemon">
      <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" class="pokemon-imagen">
      <button class="eliminar" (click)="eliminarPokemon(pokemon)">Eliminar Pokemon</button>
    </div>
  </div>
</div>

<footer class="zonabotones">
  <div>
    <button class="agregar" (click)="agregarPokemon()">Agregar Pokemon</button>
  </div>

  <div>
    <button class="guardar" (click)="guardarEquipo()">Guardar Equipo</button>
  </div>
  <div>
    <button class="main" (click)="goToMainPage()">Volver al Menu Principal</button>
  </div>
</footer>
