<div class="teams">
  <ul>
    <li class="equipos" *ngFor="let item of pokeObjetos">
      <img [src]="item.objeto.sprite" alt="img" width="40" />
      <span class="nombre-pokemon">{{ item.objeto.nombre }}</span>
      <span class="nombre-pokemon">{{ item.cantidad }}</span>
      <div class="botones-container">
        <input type="number"
               [(ngModel)]="cantidades[item.objeto.nombre]"
               class="barra-gen"
              />
        <button class="little" (click)="cambiarCantidad(item.objeto.nombre)">Cambiar cantidad</button>
        <button class="little" (click)="eliminar(item.objeto.nombre)">Eliminar</button>
      </div>
    </li>
  </ul>
</div>
