<div class="teams">
  <ul>
    <li class="equipos" *ngFor="let item of pokeObjetos">
      <div class="objeto-unidad" (click)="seleccionarObjeto(item.objeto)">
        <img [src]="item.objeto.sprite" alt="img" width="40" />
        <span class="nombre-pokemon">{{ item.objeto.nombre }}</span>
        <span class="nombre-pokemon">{{ item.cantidad }}</span>
      </div>
      <div class="botones-container">
        <!-- Solo aparece el input si se está editando -->
        <ng-container *ngIf="editandoCantidad[item.objeto.nombre]">
          <input type="number"
                [(ngModel)]="cantidades[item.objeto.nombre]"
                class="barra-gen"/>
          <button class="little" (click)="guardarCantidad(item.objeto.nombre)">Guardar</button>
        </ng-container>

        <!-- Mostrar botón Cambiar cantidad solo si NO se está editando -->
        <button class="little"
                *ngIf="!editandoCantidad[item.objeto.nombre]"
                (click)="cambiarCantidad(item.objeto.nombre)">Cambiar cantidad</button>

        <button class="little" (click)="eliminar(item.objeto.nombre)">Eliminar</button>
      </div>
    </li>
  </ul>
</div>
