.pokemon-grid {
  gap: 1.25rem;
  width: 100%;
  margin-bottom: 1.25rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9.375rem, 1fr));
  font-family: 'Winky Rough', cursive;
}

.nombre-pokemon {
  color: #D6D6D6;
  font-size: 1rem;
}

.pokemon-grid,
.pokemon,
.poketeam,
.boton-volver {
  display: flex;
  justify-content: center;
}

.pokemon,
.poketeam {
  flex-direction: column;
  align-items: center;
}

.pokemon {
  margin-top: 2.55%;
  padding: 0.9375rem;
  background-color: #2C2C3E;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pokemon:hover {
  transform: scale(1.05);
}

.poketeam {
  height: 93vh;
  box-sizing: border-box;
  background-image: url('/assets/imagenes/background7.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Winky Rough', cursive;
}

.pokemon-imagen,
.pokemon {
  width: 9.375rem;
  height: 9.375rem;
}

button {
  border-radius: 0.5rem;
  padding: 0.625rem 0.875rem;
  font-size: 1rem;
  background-color: #D6D6D6;
  border: 0.125rem solid #B0B0C3;
  transition-duration: 0.3s;
  cursor: pointer;
  font-family: 'Winky Rough', cursive;
}

button:hover {
  background-color: #B0B0C3;
  color: white;
}

.boton-volver {
  gap: 0.9375rem;
}

.nombreEquipo {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  padding: 1.25rem;
  border-radius: 3.125rem;
  box-shadow: 0 0.625rem 0.75rem rgb(95, 95, 95, 1);
  border: 0.125rem solid #D6D6D6;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}

/* Media Queries para ajustar el diseño en pantallas medianas */
@media (max-width: 768px) {
  .pokemon {
    width: 7.5rem;
    height: 7.5rem;
  }

  .nombreEquipo {
    font-size: 2rem;
    padding: 0.9375rem;
  }
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 480px) {
  .pokemon-grid {
    grid-template-columns: repeat(auto-fill, minmax(6.25rem, 1fr));
  }

  .pokemon {
    width: 6.25rem;
    height: 6.25rem;
  }

  .nombreEquipo {
    font-size: 1.5rem;
    padding: 0.625rem;
  }

  .poketeam {
    padding: 1.25rem;
  }

  button {
    font-size: 0.9rem;
    padding: 0.5rem 0.625rem;
  }
}
