.pokemon-grid {
  gap: 15px;
  width: 90%;
  margin-bottom: 20px;
  /* Para que los elementos se ajusten en múltiples líneas si es necesario */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  /* Diseño de grilla adaptable */

}

.pokemon-grid,
.pokemon,
.poketeam,
.boton-volver {
  display: flex;
  justify-content: center;
}

.pokemon,
.poketeam {
  flex-direction: column;
  align-items: center;
}

.pokemon {
  margin-top: 2.55%;
  width: 150px;
  height: 150px;
  /* Ancho de cada tarjeta de Pokémon */
  padding: 15px;
  background-color: #819875;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  white-space: nowrap;
  /* Impide que el texto se divida en varias líneas */
  overflow: hidden;
  /* Oculta el texto que sobrepase los límites del contenedor */
  text-overflow: ellipsis;
  /* Agrega "..." al final del texto si es demasiado largo */
}

.pokemon:hover {
  transform: scale(1.05);
  /* Efecto de aumento al pasar el mouse */
}

.poketeam {
  height: 93vh;
  box-sizing: border-box;
  /* Asegura que el padding y el border no incrementen el tamaño */
  background-image: url('/assets/imagenes/test2.jpg');
  /* URL de tu imagen de fondo */
  background-size: cover;
  /* Asegura que la imagen cubra todo el contenedor */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  background-position: center;
}

button {
  border-radius: 8px;
  padding: 10px 14px;
  font-size: 1rem;
  background-color: white;
  border: 2px solid #4A7B59;
  transition-duration: 0.3s;
  /* Espacio entre las tarjetas y el botón */
  cursor: pointer;
}

button:hover {
  background-color: #4A7B59;
  color: white;
}

.boton-volver {
  gap: 15px;
  /* Espacio entre los botones */
}

.nombreEquipo {
  font-size: 3rem;
  /* Tamaño de la fuente */
  font-weight: bold;
  /* Negrita */
  color: white;
  /* Color del texto */
  padding: 20px;
  /* Espaciado alrededor del título */
  border-radius: 50px;
  /* Bordes redondeados */
  box-shadow: 0 10px 12px rgb(95, 95, 95, 1);
  /* Sombra suave */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* Sombra en el texto */
}

/* Media Queries para ajustar el diseño en pantallas medianas */
@media (max-width: 768px) {
  .pokemon {
    width: 120px;
    /* Ajuste de tamaño en pantallas medianas */
    height: 120px;
  }

  .nombreEquipo {
    font-size: 2rem;
    padding: 15px;
  }
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 480px) {
  .pokemon-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    /* Ajuste de columnas */
  }

  .pokemon {
    width: 100px;
    height: 100px;
  }

  .nombreEquipo {
    font-size: 1.5rem;
    padding: 10px;
  }

  .poketeam {
    padding: 20px;
    /* Ajuste de padding en contenedor principal */
  }

  button {
    font-size: 0.9rem;
    padding: 8px 10px;
  }
}
