:host {
  overflow-x: hidden;
  max-width: 100vh;
}

.background-battle {
  position: absolute;
  width: 100%;
  height: 100%;
}

.pokeimg {
  position: absolute;
}

.imagenFondoCombate {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.battle-enemy,
.battle-me,
.battle-hud {
  padding: 1rem;
  background-color: #f0f0f0;
  border-top: 3px solid #333;
  border-radius: 10px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
}

/* Ajuste para `.pokeimg` */
.pokeimg-a {
  padding: 1rem;
  padding-left: 15%;
  width: 20%;
  position: fixed;
  bottom: 20%;
}

.pokeimg-e {
  position: fixed;
  top: 16%;
  /* Ajusta la posición vertical */
  right: 25%;
  /* Margen derecho pequeño */
  width: 20%;
  /* Controla el ancho de la imagen */
}

.pokemon-imagen,
.pokemon-imagenFixed {
  width: 100%;
  /* Asegura que la imagen ocupe el 100% del contenedor */
  padding: 0.5rem;
  /* Espaciado opcional */
}

.pokemon-imagenFixed {
  transform: rotateY(180deg);
}

.battle-enemy {
  width: 25%;
  /* Ajustado a un tamaño más grande para pantallas medianas */
}

.battle-me {
  width: 25%;
  bottom: 30%;
  right: 0;
}

/* Ajustes de `.pokemon-imagen` para escalar con el contenedor */

.battle-hud {
  display: flex;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  width: calc(100% - 20px);
}

.hud-left,
.hud-right {
  width: 50%;
  /* Ocupa el 50% del ancho de battle-hud */
}

.hud-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hud-right {
  padding: 1rem;
  display: flex;
  justify-content: center;
  overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
  max-height: 100px; /* Ajusta la altura máxima de hud-right para que genere scroll */
}

.pokemon-info {
  background-color: #d3d3d3;
  padding: 1rem;
  border-radius: 8px;
  position: relative;
}

.info {
  font-size: 1rem;
  font-weight: bold;
}

.hp-bar {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.hp-label {
  font-size: 0.875rem;
  font-weight: bold;
  margin-right: 5px;
}

.hp-bar-container {
  width: 100%;
  height: 10px;
  background-color: #888;
  border: 1px solid #555;
  border-radius: 5px;
}

.hp-bar-fill {
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
}

.hp-numbers {
  position: absolute;
  right: 10px;
  bottom: 8px;
  font-size: 0.75rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  background-color: #fff;
  border: 2px solid #333;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.option:hover {
  background-color: #757575;
}

.pokedead {
  background-color: #fff;
  border: 2px solid #333;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;

}

.pokedead:hover {
  background-color: #757575;
}


.vistaEquipoPokemon {
  position: fixed;
  bottom: 0;
}

.narrador {
  font-size: 1.5rem;
  line-height: 1.5rem;
  white-space: pre-line; /* Asegura que se respeten los saltos de línea */
}

/* Media queries para ajustar en pantallas medianas */
@media (max-width: 768px) {

  .battle-enemy,
  .battle-me {
    width: 35%;
    /* Ajuste del ancho */
    bottom: 25%;
    /* Ajuste de posición vertical */
  }

  .battle-hud {
    padding: 1rem;
    width: calc(100% - 10px);
  }

  .option {
    font-size: 0.9rem;
  }
}

/* Media queries para pantallas pequeñas */
@media (max-width: 480px) {

  .pokeimg,
  .battle-enemy,
  .battle-me {
    width: 50%;
    /* Ajusta el ancho a un 50% */
    bottom: 20%;
    /* Coloca más alto los elementos para pantallas pequeñas */
  }

  .battle-hud {
    padding: 0.75rem;
    width: calc(100% - 5px);
    /* Reducir un poco el ancho para caber mejor */
  }

  .pokemon-info {
    padding: 0.75rem;
  }

  .info,
  .hp-label,
  .hp-numbers {
    font-size: 0.75rem;
    /* Reduce el tamaño de fuente */
  }

  .option {
    flex: 1;
    font-size: 0.85rem;
    padding: 0.5rem;
  }
}