<div class="background-battle">
  <img class="imagenFondoCombate" src="/assets/imagenes/fondo-combate.png" alt="combate">
</div>

<div class="battle-enemy">
  <div class="pokemon-info">
    <div class="info">
      <span class="pokemon-name">Enemigo</span>
    </div>
    <div class="hp-bar">
      <div class="hp-label">HP</div>
      <div class="hp-bar-container">
        <div class="hp-bar-fill" style="width: 90%;"></div>
      </div>
    </div>
    <div class="hp-numbers">83/88</div>
  </div>
</div>

<div class="battle-me">
  <div class="pokemon-info">
    <div class="info">
      <span class="pokemon-name">KE PERSONAJES</span>
    </div>
    <div class="hp-bar">
      <div class="hp-label">HP</div>
      <div class="hp-bar-container">
        <div class="hp-bar-fill" style="width: 90%;"></div>
      </div>
    </div>
    <div class="hp-numbers">83/88</div>
  </div>
</div>
<div class="pokeimg">
  <img [src]="this.equipoRival.equipo[peleadorBot].sprites.front_default"
    [alt]="this.equipoRival.equipo[peleadorBot].name" class="pokemon-imagen">
  <img [src]="this.equipoMain.equipo[peleador].sprites.back_default" [alt]="this.equipoMain.equipo[peleador].name"
    class="pokemon-imagen">
</div>

<div class="battle-hud">
  <div class="options">
    <button class="option"
      (click)="pelea(this.equipoMain.equipo[this.peleador], this.equipoRival.equipo[this.peleadorBot])">FIGHT</button>
    <button class="option" (click)="gotoSlector()">POKÉMON</button>
    <button class="option" (click)="toMainMenu()">RUN</button>
  </div>
</div>
