:host {
  overflow-x: hidden;
}

.background-battle {
  position: absolute;
  width: 100%;
  height: 100%;
  /* Ocupa toda la pantalla */
  overflow: hidden;
  /* Evita el desbordamiento */
}

.imagenFondoCombate {
  width: 100%;
  height: 100%;
  /* Ajusta la altura al 100% */
  object-fit: cover;
  /* Asegura que la imagen cubra todo el contenedor */
}

.battle-enemy,
.battle-me,
.battle-hud {
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 3px solid #333;
  /* Solo borde superior */
  border-radius: 10px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  /* Fijar en la parte inferior */
}

.battle-enemy {
  width: 20%;
  /* Ocupar todo el ancho disponible */
}

.battle-me {
  width: 20%;
  bottom: 23.5%;
  /* Colocar justo encima de battle-hud */
  right: 0;
}

.battle-hud {
  border-radius: 10px 10px 0 0;
  bottom: 0;
  /* Pegado a la parte inferior de la pantalla */
  width: calc(100% - 20px);
  /* Ajuste para el padding */
}

.pokemon-info {
  background-color: #d3d3d3;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

.info {
  font-size: 14px;
  font-weight: bold;
}

.hp-bar {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.hp-label {
  font-size: 12px;
  font-weight: bold;
  margin-right: 5px;
}

.hp-bar-container {
  width: 100%;
  height: 10px;
  background-color: #888;
  border: 1px solid #555;
  border-radius: 5px;
}

.hp-bar-fill {
  height: 100%;
  background-color: #4caf50;
  /* Verde para indicar salud */
  border-radius: 5px;
}

.hp-numbers {
  position: absolute;
  right: 10px;
  bottom: 8px;
  font-size: 12px;
}

.options {
  display: grid;
  gap: 10px;
  margin-top: 15px;
}

.option {
  background-color: #fff;
  border: 2px solid #333;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.option:hover {
  background-color: #757575;
}

.vistaEquipoPokemon {
  position: fixed;
  bottom: 0;
}
