:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13vh;
}

.rectangulo {
  width: 90vh;
  /* Ajusta el tamaño del rectángulo*/
  height: 11vh;
  /* Ajusta el tamaño del rectángulo*/
  background-color: #2C2C3E;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  /* Opcional: bordes redondeados*/
}

.circulo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B0B0C3;
  border-radius: 50%;
  width: 9vh;
  height: 9vh;
  overflow: hidden;
}

.circulo img {
  width: 80%;
  height: auto;
  object-fit: contain;
}

.context-menu {
  position: fixed;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  padding: 5px;
  border-radius: 5px;
}

.context-menu button {
  background: none;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.context-menu button:hover {
  background-color: #fdd;
  color: red;
}
