<div class="info">
  <div *ngIf="selectedPokemon">
    <h2 class="nombre">{{ selectedPokemon.name | titlecase }}</h2>
    <img [src]="spriteUrl" alt="{{ selectedPokemon.name }}" class="pokemon">
  </div>

  <div class="botones">
    <button [disabled]="!selectedPokemon" class="macho" (click)="cambiarAMacho()">Macho</button>

    <button [disabled]="!selectedPokemon" class="hembra" (click)="cambiarAHembra()">Hembra</button>

    <button [disabled]="!selectedPokemon" class="shiny" (click)="cambiarAShiny()">Shiny</button>
  </div>
</div>
