:host {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  /* Evita desbordamiento */
}

.botones {
  display: flex;
  gap: 20px;
  /* Reduce el gap para evitar espacios excesivos */
  margin-top: 20px;
}

.macho,
.hembra,
.shiny {
  border-radius: 8px;
  padding: 8px 10px;
  font-size: 1rem;
  background-color: white;
  border: 2px solid #4A7B59;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.macho:hover,
.hembra:hover,
.shiny:hover {
  background-color: #4A7B59;
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nombre {
  margin: 10px 0;
  /* Margen para espaciar sin usar valores negativos */
}

.pokemon {
  display: flex;
  height: 15rem;
  max-width: 320px;
  /* Tamaño máximo para evitar desbordes */
  max-height: 320px;
  /* Tamaño máximo para evitar desbordes */
  margin-top: 20px;
}
