<div class="caja-container">
  <!-- Botón para cambiar a la caja anterior -->
  <div id="botonIz">
    <button class="Lbutton" (click)="cambiarCajaAnterior()">
      <img class="Limagen" src="/assets/imagenes/flecha_izquierda.png" alt="caja">
    </button>
  </div>

  <div class="caja-grid">
    <!-- Imagen de fondo dinámica de la caja -->
    <img class="imagencaja" [src]="imagenCaja" alt="caja">

    <!-- Cuadrícula de Pokémon sobre la imagen -->
    <div class="pokemon-grid">
      <div *ngFor="let pokemon of pokemonesEnCaja" class="pokemon">
        <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" class="pokemon-imagen"
          (click)="onPokemonClick(pokemon)" [class.seleccionado]="pokemonSeleccionado===pokemon">
      </div>
    </div>
  </div>

  <!-- Botón para cambiar a la siguiente caja -->
  <div id="botonDer">
    <button class="Rbutton" (click)="cambiarCajaSiguiente()">
      <img class="Rimagen" src="/assets/imagenes/flecha_derecha.png" alt="caja">
    </button>
  </div>
</div>

<!-- Pie de página dinámico con el nombre de la caja -->
<footer class="nombrecaja">{{ nombreCaja }}</footer>
