<div class="caja-container">
  <div id="botonIz">
    <button class="Lbutton" (click)="cambiarCajaAnterior()">
      <img class="Limagen" src="/assets/imagenes/flecha_izquierda.png" alt="caja">
    </button>
  </div>

  <div class="caja-grid">
    <img class="imagencaja" [src]="imagenCaja" alt="caja">

    <div class="pokemon-grid">
      <div *ngFor="let pokemon of pokemonesEnCaja" class="pokemon">
        <!-- Mostrar sprite actual si el Pokémon está seleccionado; si no, mostrar el sprite por defecto -->
        <img *ngIf="pokemonSeleccionado === pokemon; else defaultSprite" [src]="spriteActual$ | async"
          [alt]="pokemon.name" class="pokemon-imagen" (click)="onPokemonClick(pokemon)"
          [class.seleccionado]="pokemonSeleccionado === pokemon">

        <!-- Mostrar sprite por defecto cuando no está seleccionado -->
        <ng-template #defaultSprite>
          <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" class="pokemon-imagen"
            (click)="onPokemonClick(pokemon)">
        </ng-template>
      </div>
    </div>
  </div>

  <div id="botonDer">
    <button class="Rbutton" (click)="cambiarCajaSiguiente()">
      <img class="Rimagen" src="/assets/imagenes/flecha_derecha.png" alt="caja">
    </button>
  </div>
</div>

<footer class="nombrecaja">{{ nombreCaja }}</footer>
