:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.caja-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.caja-grid {
  position: relative;
  width: 800px;
  /* Ajusta el tamaño según lo necesites */
  height: 800px;
  /* Ajusta el tamaño según lo necesites */
}

.imagencaja {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  /* Imagen de fondo */
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* 6 columnas */
  grid-template-rows: repeat(5, 1fr);
  /* 5 filas */
  gap: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  /* Pokémon sobre la imagen */
}

.pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-imagen {
  width: 120%;
  /* Ajusta el tamaño de los Pokémon */
  height: 82%;
}

.seleccionado {
  border: 1px solid blue;
  border-radius: 8px;
}

.Lbutton,
.Rbutton {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 8px;
  font-size: 15px;
  background-color: white;
  border: 2px solid #4A7B59;
  transition-duration: 0.3s;
}

.Lbutton {
  margin-left: -22%;
}

.Rbutton {
  margin-left: 22%;
}

.Lbutton:hover,
.Rbutton:hover {
  background-color: #4A7B59;
  color: white;
}

.Limagen,
.Rimagen {
  width: 100%;
  height: 100%;
}

.nombrecaja {
  text-align: center;
  padding: 10px;
  width: 100%;
  font-size: xx-large;
}
