:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  /* Para ocupar toda la altura disponible */
}

.caja-contenido {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  /* Ocupa el espacio restante, empujando el footer hacia abajo */
}

.nombrecaja {
  text-align: center;
  padding: 10px;
  width: 100%;
  /* Para que ocupe todo el ancho */
}

.imagencaja
{
  width: 10%;
  height: auto;
}

.Lbutton,.Rbutton {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 8px;
  font-size: 15px;
  background-color: white;
  border: 2px solid #4A7B59;
  transition-duration: 0.3s;
}

.Lbutton:hover, .Rbutton:hover{
  background-color: #4A7B59;
  color: white;
}

.Limagen , .Rimagen{
  width: 100%;
  height: 100%;
}

