<div class="user-card">
  <div class="user-card-header">
    <h2>Perfil de Usuario</h2>
  </div>

  <div class="user-card-body">
    @if(isCardShowing){
    <div class="user-content">
      <!-- Columna izquierda - Información del usuario -->
      <div class="user-info-list">

        <div class="user-info">
          <label>Email:</label>
          <span>{{ usuario.Email }}</span>
          <label> Nombre de Usuario</label>
          <span>{{usuario.Username}}</span>
        </div>

        <div class="user-info">
          @if (isLoggedWithouthGoogle) {
          <label>Contraseña:</label>
          <span>
    <div class="password-visual">
    <span>{{ visible ? usuario.Password : '••••••••' }}</span>
    <span class="eyeicon" (click)="viewpass()" title="Mostrar/Ocultar contraseña">
      <i [ngClass]="visible ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
    </span>
  </div>
  </span>
          }
          @else {
          <p style="color: green">Usuario autenticado con Google!</p>
          }
        </div>

        <div class="user-info">
          <label>Combates Ganados:</label>
          <span>{{ usuario.CombatesGanados }}</span>
        </div>
      </div>

      <!-- COLUMNA DERECHA: Imagen + botón -->
      <div class="trainer-container">
        <button class="btn-change-avatar" (click)="mostrarSelector()">Cambiar Avatar</button>
        <div class="trainer-image-container">
          <img class="Image-trainer" [src]="selectedAvatar" alt="Imagen del entrenador">
        </div>
      </div>

    </div>
    <!-- Botones de acción -->
    <div class="action-buttons">
      @if(isLoggedWithouthGoogle) {
      <button class="btn-modify-account" (click)="toggleModify()">Modificar Perfil</button>
      }
      <button class="btn-delete-account" (click)="toogleDelete()">Eliminar Cuenta</button>
    </div>
    }
    <!-- Formulario de modificación, solo se muestra si isModifyShowing es verdadero -->
    @if(isModifyShowing) {
    <div class="modify-profile">
      <h3 class="modify-title">Modificando tu Perfil</h3>
      <form class="formularioRegistro" [formGroup]="formularioDatosCortos" (ngSubmit)="addUsuario()">

        <!-- Campo de Usuario -->
        <div class="form-group">
          <label for="">Nombre de Usuario:</label>
          <input type="text" formControlName="Username">
         <p class="Error" [class.visible]="formularioDatosCortos.controls['Username'].touched&&formularioDatosCortos.controls['Username'].errors">


        @if(formularioDatosCortos.controls['Username'].hasError('required')&&formularioDatosCortos.controls['Username'].touched)
           {

            <span>Se debe llenar el campo requerido</span>
            }


        @if (formularioDatosCortos.controls['Username'].getError('minlength')&&formularioDatosCortos.controls['Username'].touched) {
           <span>El usuario no puede contener un minimo de 4 letras</span>
           }
        </p>
        </div>

        <!-- Campo de Contraseña -->
        <div class="form-group">
          <label for="">Contraseña:</label>
          <input type="text" formControlName="Password">
          <p class="Error" [class.visible]="formularioDatosCortos.controls['Password'].touched&&formularioDatosCortos.controls['Password'].errors">


    @if(formularioDatosCortos.controls['Password'].hasError('required')&&formularioDatosCortos.controls['Password'].touched)
      {

        <span>Se debe llenar el campo requerido</span>
      }


    @else if (formularioDatosCortos.controls['Password'].getError('minlength')&&formularioDatosCortos.controls['Password'].touched) {
    <span>El usuario no puede contener un minimo de 8 letras</span>
    }
    @else if (formularioDatosCortos.controls['Password'].getError('pattern') && formularioDatosCortos.controls['Password'].touched) {
      <span>La contraseña debe incluir al menos una mayúscula, una minúscula, un número y un símbolo.</span>
    }

    </p>
        </div>

        <!-- Mensaje de error adicional -->
        @if (validadorMensajeEspecifico&&!formularioDatosCortos.invalid) {
          <span>{{MensajeEspecifico}}</span>
          }

        <!-- Botones para cancelar o confirmar cambios -->
        <div class="botones">
          <button class="SalirRegistro"  type="button" (click)="cancelar()">Cancelar</button>
          <button class="Confirmar" type="submit" (click)="addUsuario()">Confirmar</button>
        </div>
      </form>
    </div>
    }
    @if (isDeleteShowing) {
    <div class="delete-confirmation">
      <p>¿Estás seguro de que quieres eliminar tu cuenta?</p>
      <div class="confirmation-buttons">
        <button class="btn-confirm-delete" (click)="confirmDelete()">Sí, eliminar</button>
        <button class="btn-cancel-delete" (click)="cancelDelete()">Cancelar</button>
      </div>
    </div>
    }

    @if (mostrarSelectorAvatar) {
    <label class="mensajeSelector">Selecciona tu Avatar:</label>
    <div class="avatar-selector">
      <div class="avatar-options">
        <img *ngFor="let avatar of avatarList" [src]="avatar" [class.selected]="selectedAvatar === avatar"
          (click)="seleccionarAvatar(avatar)" alt="Avatar">
      </div>
    </div>
    }


  </div>
</div>
