<div class="user-card">

  <div class="user-card-header">
    <h2>Perfil de Usuario</h2>
  </div>
  <div class="user-card-body">
    @if(isCardShowing){
    <div class="user-content">
      <!-- Columna izquierda - Información del usuario -->
      <div class="user-info-list">
        <div class="user-info">
          <label>Email:</label>
          <span>{{ usuario.Email }}</span>
        </div>

        <div class="user-info">
          @if (isLoggedWithouthGoogle) {
            <label>Contraseña:</label>
            <span>{{ usuario.Password }}</span>
          }
          @else {
            <p style="color: green">Usuario autenticado con Google!</p>
          }
        </div>

        <div class="user-info">
          <label>Combates Ganados:</label>
          <span>{{ usuario.CombatesGanados }}</span>
        </div>
      </div>

      <!-- Columna derecha - Imagen del entrenador -->
      <div class="trainer-image-container">
        <img class="Image-trainer" src="/assets/imagenes/entrenador_pokemon.png" alt="Imagen del entrenador">
      </div>
    </div>

    <!-- Botones de acción -->
    <div class="action-buttons">
      @if(isLoggedWithouthGoogle)
      {
        <button class="btn-modify-account" (click)="toggleModify()">Modificar Perfil</button>
      }
      <button class="btn-delete-account" (click)="toogleDelete()">Eliminar Cuenta</button>





    </div>
    }




    @if (isDeleteShowing) {
      <div class="delete-confirmation">
        <p>¿Estás seguro de que quieres eliminar tu cuenta?</p>
        <div class="confirmation-buttons">
          <button class="btn-confirm-delete" (click)="confirmDelete()">Sí, eliminar</button>
          <button class="btn-cancel-delete" (click)="cancelDelete()">Cancelar</button>
        </div>
      </div>
    }
  </div>

</div>

