
<body>
  
  <div class="imagen" >
    <div class="left-column">
      <p>Columna Izquierda</p>
    </div>
    <div class= "button-container">
      <button class="button-izq">
        <img src="assets/imagenes/cajas/flecha_izquierda.png" alt="toTheLeft">
      </button>
    </div>
    
  
    <div class="center">
      <img src="assets/imagenes/cajas/Box_Backyard_BDSP.png" alt="caja 1">
    </div>

    <div class= "button-container">
      <button class="button-der">
        <img src="assets/imagenes/cajas/flecha_derecha.png" alt="toTheRight">
      </button>
    </div>
  
    <div class="right-column">
      <p>Columna Derecha</p>
    </div>
  </div>
</body>

<router-outlet></router-outlet>
