<!-- <body>
  <header>Favorites</header>

  <div class="imagen">

    <div class="left-column">

      <div class="infoPokedex">
        a
      </div>

      <fieldset class="equiposPokemon">
        <legend class="nombre">Equipos Pokemon</legend>
      </fieldset>

      <button class="combate">

      </button>

    </div>
    <div class="button-container">
      <button class="button-izq" (click)="prevImage()">
        <img src="assets/imagenes/cajas/flecha_izquierda.png" alt="toTheLeft">
      </button>

    </div>


    <div class="center" #center>
      <img #imageElement [src]="currentImage" alt="caja 1">
      <h1 class="caja" [ngStyle]="{'background-color': leftColumnColor}">{{ currentBoxName }}</h1>
    </div>

    <div class="button-container">
      <button class="button-der" (click)="nextImage()">
        <img src="assets/imagenes/cajas/flecha_derecha.png" alt="toTheRight">
      </button>
    </div>

    <div class="right-column" >
      <p>Columna Derecha</p>
    </div>
  </div>

</body> -->
<router-outlet></router-outlet>
