:host {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: .5rem;
  background-color: #3f3f3f;
}

.totalidad {
  height: 100vh;
  /* Cambia a min-height para evitar problemas en pantallas móviles */
  display: flex;
  flex-direction: column;
  background-color: #3f3f3f;
}

.contenidoPagina {
  display: flex;
  flex-grow: 1;
  gap: 10px;
}

.cajaCentral {
  flex: 2;
  background-color:#4A4A4A;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.columnaDerecha {
  flex: 1;
  background-color:#4A4A4A;
}

/* Estilos de cabezal */
.cabezal {
  display: flex;
  padding: 0.5rem;
  background-color:	#4A4A4A;
  box-sizing: border-box;
}

.perfil {
  margin-left: auto;
}

.botoncin,
.btnbattle {
  border-radius: 8px;
  background-color: #D6D6D6;
  border: 2px solid #B0B0C3;
  transition-duration: 0.3s;
  cursor: pointer;
  font-family: 'Winky Rough', cursive;
}

.botoncin {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  font-size: 1rem;
}

.botoncin:hover {
  background-color: #B0B0C3;
  color: #D6D6D6;
}

.imagenUsuario {
  width: 80%;
}

.columnaIzquierda {
  flex: 1;
  display: flex;
  background-color:	#4A4A4A;
  flex-direction: column;
  gap: 0.5rem;
}

.columnaIzquierda>* {
  margin: auto;
  width: 95%;
}

.infopokedex {
  flex: 1;
  background-color: #2C2C3E;
  border-radius: 15px;
  border: 3px solid #4A4A4A;
}

.listadeequipos {
  flex: 1;
}

.battle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.2;
}

.btnbattle {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
}

.btnbattle:hover {
  background-color: #BD2222;
  color: white;
}

/* Media queries para pantallas medianas */
@media (max-width: 768px) {
  .contenidoPagina {
    flex-direction: column;
    /* Cambia a columna en pantallas medianas */
  }

  .botoncin {
    font-size: 0.9rem;
    padding: 0.4rem;
  }

  .btnbattle {
    font-size: 1rem;
    padding: 0.4rem 1.5rem;
  }
}

/* Media queries para pantallas pequeñas */
@media (max-width: 480px) {
  .contenidoPagina {
    flex-direction: column;
    /* Cambia a columna en pantallas pequeñas */
    gap: 0;
  }

  .cajaCentral,
  .columnaDerecha,
  .columnaIzquierda {
    width: 100%;
    /* Asegura que ocupen el 100% del ancho en pantallas pequeñas */
  }

  .botoncin,
  .btnbattle {
    width: 100%;
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
  }

  .imagenUsuario {
    width: 70%;
  }
}
