<div class="totalidad">
  <div class="contenidoPagina">
    <div class="columnaIzquierda">
      <div class="infopokedex">
        <app-info-pokedex (guardarDatos)="guardarDatosDesdeInfoPokedex()"></app-info-pokedex>



      </div>

      <div class="listadeequipos">
        <app-lista-equipo-pokemon></app-lista-equipo-pokemon>
      </div>

      <div class="battle">
        <button class="btnbattle" (click)="goToCombate(); caja.dbGuardarDatos()">Combate</button>
      </div>
    </div>
    <div class="cajaCentral">
      <app-caja #caja></app-caja>
    </div>

    <div class="columnaDerecha">
      <app-lista-pokemon (pokemonAgregado)="caja.agregarPokemon($event)"></app-lista-pokemon>
    </div>
  </div>
</div>
