<div class="totalidad" >
  <header class="cabezal">
    <div class="perfil">
      <button (click)="goToPerfil()" class="botoncin">
        <img class="imagenUsuario" src="assets/imagenes/cajas/icono.png" alt="imagen usuario"> Perfil
      </button>
    </div>
  </header>

  <div class="contenidoPagina">

    <div class="columnaIzquierda">

          <div class="infopokedex">
            <app-info-pokedex></app-info-pokedex>
          </div>

          <div>
          </div>
          <div class="listadeequipos" >
            <app-lista-equipo-pokemon></app-lista-equipo-pokemon>
            </div>

            <div class="battle">
              <button class="btnbattle">Combate</button>
            </div>

    </div >

    <div class="cajaCentral">
      <app-caja></app-caja>
    </div>

    <div class="columnaDerecha">
      <app-lista-pokemon></app-lista-pokemon>
    </div>

  </div>


</div>
