:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.totalidad {
  background-color: aquamarine;
  width: 100%;
  height: 100vh; /* Cambiado a 100vh para que ocupe toda la altura de la pantalla */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

