<div class="verificacion-card"
     [ngClass]="{'success': mensaje.includes('verificado'), 'error': !mensaje.includes('verificado')}">
  <!-- Icono grande -->
  <div class="icono-verificacion">
    <ng-container *ngIf="mensaje.includes('verificado'); else fallo">
    </ng-container>
    <ng-template #fallo>
    </ng-template>
  </div>

  <h2 class="verificacion-titulo">{{ mensaje }}</h2>
  <p *ngIf="mensaje.includes('verificado')" class="verificacion-texto">
    Su cuenta ha sido creada correctamente, vuelva a la página de logueo e inicie sesión.
  </p>
</div>
