:host {
  background-color: yellow;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.contenidoPagina {
  display: flex;
  height: 100%;
}

.info-objeto,
.buscador-objeto,
.inventario-objeto {
  flex: 1;
}

.info-objeto {
  background-color: red;
}

.buscador-objeto {
  background-color: green;
  overflow-y: auto;
}

.inventario-objeto {
  background-color: blue;
  overflow-y: auto;
}

::-webkit-scrollbar {
  background-color: rgb(146, 146, 146);
  width: 0.625rem;
}

::-webkit-scrollbar-thumb {
  background-color: #B0B0C3;
}

@media (max-width: 768px) {
  .contenidoPagina {
    flex-direction: column;
    height: auto;
  }

  .info-objeto,
  .buscador-objeto,
  .inventario-objeto {
    width: 100%;
    height: auto;
  }
}
