:host {
  background-color: #3f3f3f;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.tutorial-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.tutorial-overlay app-tutorial {
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

.cerrar-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 1000;
}

.contenidoPagina {
  display: flex;
  height: 100%;
}

.info-objeto,
.buscador-objeto,
.inventario-objeto {
  margin: 0.5%;
  border-radius: 0.5rem;
}

.info-objeto {
  flex: 1;
  background-color: red;

}

.buscador-objeto {
  flex: 2;
  background-color: #4A4A4A;
  overflow-y: auto;
}

.inventario-objeto {
  flex: 2;
  background-color: #645f5f;
  overflow-y: auto;
}

::-webkit-scrollbar {
  background-color: rgb(146, 146, 146);
  width: 0.625rem;
}

::-webkit-scrollbar-thumb {
  background-color: #B0B0C3;
}

@media (max-width: 768px) {
  .contenidoPagina {
    flex-direction: column;
    height: auto;
  }

  .info-objeto,
  .buscador-objeto,
  .inventario-objeto {
    width: 100%;
    height: auto;
  }
}
