<div class="totalidad">
  <div id="botonIz">
    <button class="Lbutton">
      <img class="Limagen" src="/assets/imagenes/flecha_izquierda.png" alt="caja">
    </button>
  </div>

  <div class="pagina">
    <div class="imagen-tutorial">
      <img class="imagen" src="assets\imagenes\images.png" alt="imagen tutorial">
    </div>

    <div class="texto">
      <p>holaaaaaaaaaa</p>
    </div>

    <div class="numero pagina">
      <p>1/20</p>
    </div>

  </div>


  <div id="botonDer">
    <button class="Rbutton">
      <img class="Rimagen" src="/assets/imagenes/flecha_derecha.png" alt="caja">
    </button>
  </div>
</div>
