.Lbutton,
.Rbutton {
  width: 4rem;
  padding: 0.3125rem;
  border-radius: 0.625rem;
  background-color: #D6D6D6;
  border: 0.125rem solid #B0B0C3;
  transition-duration: 0.3s;
  cursor: pointer;
}

.Lbutton:hover,
.Rbutton:hover {
  background-color: #B0B0C3;
  color: white;
}

.Limagen,
.Rimagen {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

.totalidad {
  display: flex;
  align-items: center;
}

