.totalidad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-family: 'Winky Rough', cursive;
}

.tutorial-itself {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.Lbutton,
.Rbutton {
  width: 4rem;
  padding: 0.3125rem;
  border-radius: 0.625rem;
  background-color: #D6D6D6;
  border: 0.125rem solid #B0B0C3;
  transition-duration: 0.3s;
  cursor: pointer;
}

.texto-titulo {
  font-size: 2.4rem;
}


.texto p {
  font-size: 1.2rem;
  color: #1a1a1a;
}

.Lbutton:hover,
.Rbutton:hover {
  background-color: #B0B0C3;
  color: white;
}

.Limagen,
.Rimagen {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

#botonIz,
#botonDer {
  display: flex;
  align-items: center;
}

.imagen-tutorial {
  display: flex;
  justify-content: center;
}

.imagen {
  max-width: 29vw;
  border-radius: 1rem;
  width: 100%;
  height: auto;
}

/* Responsivo para pantallas chicas */
@media (max-width: 768px) {
  .totalidad {
    flex-direction: column;
  }

  #botonIz,
  #botonDer {
    justify-content: center;
  }

  .imagen {
    max-width: 100%;
  }
}
