<div class="totalidad">
  <div id="botonIz">
    <button class="Lbutton" (click)="cambiarPaginaAtras()">
      <img class="Limagen" src="/assets/imagenes/flecha_izquierda.png" alt="caja">
    </button>
  </div>

  <div class="pagina">
    <div class="imagen-tutorial">
      <img class="imagen" src="{{pagina.imagen}}">
    </div>

    <div class="texto">
      <p>{{pagina.texto}}</p>
    </div>

    <div class="numero pagina">
       {{pagina.nroPagina}}/20
    </div>

  </div>


  <div id="botonDer">
    <button class="Rbutton" (click)="cambiarPaginaAdelante()">
      <img class="Rimagen" src="/assets/imagenes/flecha_derecha.png" alt="caja">
    </button>
  </div>
</div>
