.pokemon {
  max-height: 700px;
  /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto;
  /* Habilita el scroll vertical */
  border: 1px solid #ccc;
  /* Opcional: para ver los límites del contenedor */
  padding: 1%;
  /* Espaciado interno */
  margin-top: 1%;
  /* Espaciado superior */
  max-width: 100%;
}

::-webkit-scrollbar {
  background-color: rgb(146, 146, 146);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4A7B59;
}

.agregar,
.buscar {
  border-radius: 8px;
  background-color: white;
  border: 2px solid #4A7B59;
  transition-duration: 0.3s;
  cursor: pointer;
}

.agregar {
  padding: 10px 12px;
  font-size: 17px;
  margin-left: 33%;
  margin-top: 8%;
}

.agregar:hover {
  background-color: #4A7B59;
  color: white;
}

.seleccionado {
  border-radius: 8px;
  border: 1px solid blue;
  /* Línea azul delgada alrededor del Pokémon */
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
  /* Sombra azul sutil */
}

.mensajeError {
  color: red;
}

.buscar {
  padding: 2px 4px;
  font-size: 12px;
}

.buscar:hover {
  background-color: #4A7B59;
  color: white;
}
