.pokemon {
  /* Ajuste con unidad relativa para adaptarse a diferentes alturas de pantalla */
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 1%;
  margin-top: 1%;
  max-width: 100%;
}

::-webkit-scrollbar {
  background-color: rgb(146, 146, 146);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4A7B59;
}

.agregar,
.buscar {
  border-radius: 8px;
  background-color: white;
  border: 2px solid #4A7B59;
  transition-duration: 0.3s;
  cursor: pointer;
}

/* Ajustes para el botón "agregar" */
.agregar {
  padding: 10px 12px;
  font-size: 1rem;
  margin-top: 8%;
  width: auto;
  /* Ancho ajustable */
  margin-left: 35%;
}

.agregar:hover {
  background-color: #4A7B59;
  color: white;
}

.seleccionado {
  border-radius: 8px;
  border: 1px solid blue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

.mensajeError {
  color: red;
}

.buscar {
  padding: 5px 10px;
  font-size: 0.7rem;
}

.buscar:hover {
  background-color: #4A7B59;
  color: white;
}

@media (max-width: 768px) {
  .agregar {
    font-size: 0.9rem;
    padding: 8px 10px;
    margin-left: 25%;
  }

  .buscar {
    font-size: 0.9rem;
    padding: 4px 8px;
  }

  .pokemon {
    max-height: 60vh;

  }
}

@media (max-width: 480px) {
  .agregar {
    font-size: 0.3rem;
    padding: 6px 8px;
    margin-left: 15%;
    width: 70%;
  }

  .buscar {
    font-size: 0.3rem;
    padding: 3px 6px;
  }

  .pokemon {
    max-height: 50vh;
  }
}
