.pokemon {
  max-height: 700px;
  /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto;
  /* Habilita el scroll vertical */
  border: 1px solid #ccc;
  /* Opcional: para ver los límites del contenedor */
  padding: 1%;
  /* Espaciado interno */
  margin-top: 1%;
  /* Espaciado superior */
  max-width: 100%;
}

::-webkit-scrollbar {
  background-color: rgb(146, 146, 146);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4A7B59;
}

.agregar {
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 17px;
  background-color: white;
  color: black;
  border: 2px solid #4A7B59;
  transition-duration: 0.3s;
  margin-left: 33%;
  margin-top: 8%;
}

.agregar:hover {
  background-color: #4A7B59;
  color: white;
}

.seleccionado {
  border: 1px solid blue; /* Línea azul delgada alrededor del Pokémon */
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5); /* Sombra azul sutil */
}

.mensajeError{
color: red;

}
