<div class="/main-page" *ngIf="mostrarBotonAgregar">
  <div id="input">
    <input type="number" [(ngModel)]="this.numeroGeneracion" placeholder="pon el n° de la generacion">
    <button class="buscar" (click)="buscarPokemonPorGeneracion()"> <i class="fas fa-search"></i>Buscar</button>
    @if(validacion){
    <div class="pokemon">
      <img *ngFor="let pokemon of listaPokemon; let i = index" [src]="pokemon.sprites.front_default"
        [alt]="pokemon.name" (click)="seleccionarPokemon(i)" [class.seleccionado]="pokemonSeleccionado === i" />
    </div>
    }
    @else {
    <p class="mensajeError">{{mensajeError}}</p>
    }
  </div>
  <button class="agregar" (click)="agregarPokemonACaja()">Agregar a la Caja</button>
</div>

<div class="/equipo-pokemon" *ngIf="mostrarBotonAgregar===false">

  <div id="input">
    <input type="number" [(ngModel)]="this.numeroGeneracion" placeholder="pon el n° de la generacion">
    <button class="buscar" (click)="buscarPokemonPorGeneracion()"> <i class="fas fa-search"></i>Buscar</button>
    @if(validacion)
    {
    <div class="pokemon">
      <img *ngFor="let pokemon of listaPokemon; let i = index" [src]="pokemon.sprites.front_default"
        [alt]="pokemon.name" (click)="seleccionarPokemon2(i)" [class.seleccionado]="pokemonSeleccionado === i" />
    </div>
    }
    @else {
    <p class="mensajeError">Error, ingrese datos validos</p>
    }
  </div>
</div>
