html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

app-root,
app-pagina-principal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Adaptación para pantallas pequeñas */
@media (max-width: 480px) {
  app-root,
  app-pagina-principal {
    flex-direction: column;
  }
}
