html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Asegura que no haya scroll si no es necesario */
}

app-root, app-pagina-principal {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

