:host {
  font-family: 'Winky Rough', cursive;
  background-image: url('/assets/imagenes/selector.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 100vh;
}

.layout-combate {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  flex-wrap: wrap;
  padding-inline: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.pokemon-actual {
  flex: 1 1 35%;
  background-color: #2C2C3E;
  border-radius: 0.625rem;
  padding: 1rem;
  margin-right: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: #D6D6D6;
  text-align: center;
}

.pokemon-imagen-grande {
  width: 18rem;
}

.pokemon-nombre-grande {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.equipo-pequeno {
  flex: 1 1 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.titulo {
  font-size: 3rem;
  font-weight: bold;
  color: #D6D6D6;
  text-align: center;
  padding: 0.9375rem;
}


.pokemon-mini {
  background-color: #2C2C3E;
  border-radius: 0.625rem;
  width: 12rem;
  padding: 1rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
  color: #D6D6D6;
  transition: transform 0.2s;

}

.pokemon-mini.actual {
  opacity: 0.5;
  pointer-events: none;
}

.pokemon-mini:hover {
  transform: scale(1.03);
}

.pokemon-imagen-mini {
  width: 4.5rem;
  display: block;
  margin: 0 auto 0.5rem;
}

.pokemon-info-mini {
  text-align: center;
}

.pokemon-nombre-mini {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.boton-volver-nuevo {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

button.boton-volver {
  cursor: pointer;
  border: 0.125rem solid #B0B0C3;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  background-color: #D6D6D6;
  transition-duration: 0.3s;
  width: 100%;
  max-width: 5rem;
  font-family: 'Winky Rough', cursive;
  margin-top: 1rem;
  margin-left: 90rem;

}

button.boton-volver:hover {
  background-color: #B0B0C3;
  color: white;
}

.select {
  cursor: pointer;
  border: 0.125rem solid #B0B0C3;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  background-color: #D6D6D6;
  transition-duration: 0.3s;
  width: 100%;
  max-width: 8rem;
  margin: 0.4rem;
  padding: 0.3rem;
  font-family: "Winky Rough", cursive;
}

.select:hover {
  background-color: #B0B0C3;
  color: white;
}

.info-combate {
  background-color: #fef9c3;
  color: #6b4226;
  padding: 0.75rem;
  margin-bottom: 0.625rem;
  border: 0.125rem dashed #ecc94b;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.1rem;
}

.pokemon-tipos {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

/*-----------------------------------------------tipos pokemon-----------------------------------------------*/

.type-normal,
.type-ice,
.type-psychic,
.type-electric,
.type-grass,
.type-water,
.type-fire,
.type-steel,
.type-ghost,
.type-bug,
.type-ground,
.type-rock,
.type-poison,
.type-flying,
.type-fighting,
.type-dragon,
.type-dark,
.type-fairy {
  padding: 0.3125rem;
  border-radius: 0.625rem;
  color: white;
}

.type-normal {
  background-color: #9a915a;
}

.type-ice {
  background-color: #06aea5;
}

.type-psychic {
  background-color: #984dd6;
}

.type-electric {
  background-color: rgb(195, 195, 0);
}

.type-grass {
  background-color: rgb(30, 165, 3);
}

.type-water {
  background-color: rgb(0, 73, 182);
}

.type-fire {
  background-color: rgb(194, 0, 0);
}

.type-steel {
  background-color: rgb(111, 130, 157);
}

.type-ghost {
  background-color: rgb(106, 0, 235);
}

.type-bug {
  background-color: rgb(167, 255, 112);
}

.type-ground {
  background-color: rgb(182, 140, 0);
}

.type-rock {
  background-color: rgb(138, 106, 2);
}

.type-poison {
  background-color: rgb(144, 0, 255);
}

.type-flying {
  background-color: rgb(69, 143, 143);
}

.type-fighting {
  background-color: rgb(192, 55, 55);
}

.type-dragon {
  background-color: rgb(55, 2, 135);
}

.type-dark {
  background-color: rgb(12, 12, 12);
}

.type-fairy {
  background-color: rgb(199, 24, 170);
}
