.pokemon-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  width: 100%;
  padding-right: 20px;
}

.total {
  background-image: url('/assets/imagenes/test2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: auto;
}

.titulo {
  font-size: 3rem;
  /* Ajustado a una unidad relativa */
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 15px;
}

.pokemon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  background-color: #819875;
  width: 50%;
  margin-left: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.pokemon-imagen {
  width: 80px;
}

.pokemon-nombre {
  font-weight: bold;
  font-size: 1rem;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pokemon-tipos {
  display: flex;
  gap: 5px;
}

.pokemon-tipo {
  padding: 5px;
  border-radius: 10px;
}

.select {
  padding: 5px 10px;
}

.convivan {
  display: flex;
  flex-direction: column;
}

.select:hover {
  background-color: #4A7B59;
  color: white;
}

.pokemon:hover {
  transform: scale(1.01);
}

.poketeam {
  position: relative;
  min-height: 10vh;
}

button {
  border-radius: 8px;
  padding: 10px 14px;
  font-size: 1rem;
  background-color: white;
  border: 2px solid #4A7B59;
  transition-duration: 0.3s;
  margin: 10px;
}

button:hover {
  background-color: #4A7B59;
  color: white;
}

.boton-volver {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  /* Espacio alrededor del botón */
}

.info-combate {
  background-color: #fef9c3;
  color: #6b4226;
  padding: 12px;
  margin-bottom: 10px;
  border: 2px dashed #ecc94b;
  border-radius: 8px;
  text-align: center;
  font-size: 1.1rem;
}

/* Adaptaciones para pantallas medianas */
@media (max-width: 768px) {
  .pokemon {
    width: 70%;
    /* Ajuste para pantallas medianas */
  }

  .titulo {
    font-size: 2rem;
    padding: 10px;
  }

  .pokemon-imagen {
    width: 60px;
  }
}

/* Adaptaciones para pantallas pequeñas */
@media (max-width: 480px) {
  .pokemon-grid {
    align-items: center;
    padding-right: 10px;
  }

  .pokemon {
    flex-direction: column;
    /* Cambia a columna en pantallas pequeñas */
    width: 90%;
    margin-left: 0;
  }

  .titulo {
    font-size: 1.5rem;
    padding: 8px;
  }

  .pokemon-imagen {
    width: 50px;
  }

  button {
    font-size: 0.875rem;
    padding: 8px 10px;
  }
}

/*-----------------------------------------------tipos pokemon-----------------------------------------------*/

.type-normal,
.type-ice,
.type-psychic,
.type-electric,
.type-grass,
.type-water,
.type-fire,
.type-steel,
.type-ghost,
.type-bug,
.type-ground,
.type-rock,
.type-poison,
.type-flying,
.type-fighting,
.type-dragon,
.type-dark,
.type-fairy {
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.type-normal {
  background-color: #9a915a;
}

.type-ice {
  background-color: #06aea5;
}

.type-psychic {
  background-color: #984dd6;
}

.type-electric {
  background-color: rgb(195, 195, 0);
}

.type-grass {
  background-color: rgb(30, 165, 3);
}

.type-water {
  background-color: rgb(0, 73, 182);
}

.type-fire {
  background-color: rgb(194, 0, 0);
}

.type-steel {
  background-color: rgb(111, 130, 157);
}

.type-ghost {
  background-color: rgb(106, 0, 235);
}

.type-bug {
  background-color: rgb(167, 255, 112);
}

.type-ground {
  background-color: rgb(182, 140, 0);
}

.type-rock {
  background-color: rgb(138, 106, 2);
}

.type-poison {
  background-color: rgb(144, 0, 255);
}

.type-flying {
  background-color: rgb(69, 143, 143);
}

.type-fighting {
  background-color: rgb(192, 55, 55);
}

.type-dragon {
  background-color: rgb(55, 2, 135);
}

.type-dark {
  background-color: rgb(12, 12, 12);
}

.type-fairy {
  background-color: rgb(199, 24, 170);
}
