<img class="imagenLogueo" src="\assets\imagenes\Pokebox-4-11-2024(1).png" alt="imagen usuario">

<form class="formOlvideContraseña">
  <h1 class="titulo">Restablecer Contraseña</h1>
  <p class="subtitulo">Ingrese su nueva contraseña para continuar</p>

  <div class="input-contenedor">
    <i class="fa-solid fa-key icon" style="color: #000000;"></i>
    <input
      [type]="mostrarPassword ? 'text' : 'password'"
      [(ngModel)]="newPassword"
      name="newPassword"
      placeholder="Nueva contraseña" />
    <span class="eyeicon" (click)="alternarVisibilidadPassword()">
      <i [ngClass]="mostrarPassword ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"></i>
    </span>
  </div>

  <p class="Error" [class.visible]="isMessageShowing">
    {{ message }}
  </p>

  <button class="enviarGmail" (click)="onSubmit()" [disabled]="!newPassword">Restablecer</button>
</form>
