<div *ngIf="rutaCombate===true">
  <fieldset class="teams">

    <ul>
      <li class="equipos" *ngFor="let item of poketeam; let i = index">
        <span class="nombre-pokemon" (click)="goToVisualizarpokemon(item.nombre)">{{ item.nombre }}</span>
        <div class="botones-container">
          <button class="little" (click)="eliminarElemento(i)">Eliminar</button>
          <button class="little" (click)="cambiarNombreEquipo(i)">Cambiar Nombre</button>
        </div>
      </li>
    </ul>
    <button class="big" (click)="goToCrearEquipo()">Agregar nuevo equipo</button>
  </fieldset>
</div>


<div class="/selector" *ngIf="rutaCombate===false">
  <h1>Elija un Equipo Pokemon</h1>
  <ul>
    <li class="equipos" *ngFor="let item of poketeam; let i = index" (click)="goToVisualizarpokemon(item.nombre)">
      <span class="nombre-pokemon" (click)="goToVisualizarpokemon(item.nombre)">{{ item.nombre }}</span>
      <div>
        <button class="big" (click)="seleccionarEquipo(item)">Selecionar Equipo</button>
      </div>
    </li>
  </ul>
  <button class="big" (click)="gotoMain()">Volver</button>
</div>
