:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #95A98B;
}

button {
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 17px;
  background-color: white;
  color: black;
  border: 2px solid #4A7B59;
  transition-duration: 0.3s;
  margin-left: 16%;
}

button:hover {
  background-color: #4A7B59;
  color: white;
}

.teams {
  flex: 8;
  background-color: #95A98B;
  overflow-y: auto;
  max-height: 300px;
}

::-webkit-scrollbar {
  background-color: rgb(146, 146, 146);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4A7B59;
}

.equipos {
  border-bottom: 1px solid #ddd;
  display: flex; /* Usar flex para alinear elementos */
  align-items: center;
  justify-content: space-between; /* Espacio entre elementos */
}

.equipos
{
  border-bottom: 1px solid #ddd;
}

.equipos:hover
{
    background-color: #4A7B59
}

.eliminar {
  padding: 5px 10px; /* Tamaño reducido */
  font-size: 14px; /* Fuente más pequeña */
  margin-left: auto; /* Empuja el botón a la derecha */
  margin-right: 1px; /* Añade un margen pequeño a la derecha */
}
