<div *ngIf="rutaCombate===true">
  <div class="teams">
    <button class="big" (click)="llamarDbGuardarDatos()" (click)="goToCrearEquipo()">Agregar nuevo equipo</button>
    <ul>
      <li class="equipos" *ngFor="let item of poketeam; let i = index">
        <span class="nombre-pokemon" (click)="goToVisualizarpokemon(item.nombre)">{{
          item.nombre }}</span>
        <div class="botones-container">
          <button class="little" (click)="eliminarElemento(i)">Eliminar</button>
          <button class="little" (click)="cambiarNombreEquipo(i)">Cambiar Nombre</button>
        </div>
      </li>
    </ul>
  </div>
</div>

<div *ngIf="rutaCombate === false" [ngClass]="{ 'full-background': true }">
  <div class="selector">
    <div class="pokemon-banner">
      <h2  class="titulo">Elija un Equipo Pokemon</h2>
      <div class="a-selector">
        <ul class="teams">
          <li class="equipos" *ngFor="let item of poketeam; let i = index">
            <span class="nombre-pokemon">{{ item.nombre }}</span>
            <div class="botones-container">
              <button class="big" (click)="goToVisualizarpokemon(item.nombre)">Detalles</button>
              <button class="big" (click)="seleccionarEquipo(item)">Selecionar Equipo</button>
            </div>
          </li>
        </ul>
      </div>
      <button class="big" (click)="gotoMain()">Volver</button>
    </div>
  </div>
</div>
