<div class="base" *ngIf="objetoSeleccionado">
  <div class="nombre-objeto">
    <p>{{ objetoSeleccionado.nombre }}</p>
  </div>

  <div class="imagen-objeto">
    <img class="imagen" [src]="objetoSeleccionado.sprite" alt="imagen del objeto" />
  </div>

  <div class="descripcion-objeto">
    <p>{{ objetoSeleccionado.descripcion }}</p>
  </div>
</div>

<!-- Por si no hay nada seleccionado todavía -->
<div class="default" *ngIf="!objetoSeleccionado">
  <p class="mensaje">Selecciona un objeto del inventario para ver detalles.</p>
</div>
