<div>
  <img class="imagenLogueo" src="\assets\imagenes\Pokebox-4-11-2024(1).png" alt="imagen usuario">

  @if (isRegisterButtonShowing) {
  <button (click)="btRegistro()" class="Registarse">Registrarse</button>

  }
  @if (IsFormRegisterShowing) {


  <form class="formularioRegistro" [formGroup]="formulario">

    <label for="">Usuario:</label>

    <input type="text" value="''" formControlName="Username" placeholder="example@gmail.com">
    @if (formulario.controls['Username'].getError('required')&&formulario.controls['Username'].touched) {

    <p class="Error">Se debe llenar el campo requerido</p>


    }
    @if (formulario.controls['Username'].getError('minlength')&&formulario.controls['Username'].touched) {
    <p class="Error">El usuario no puede contener un minimo de 6 letras</p>

    }

    <label for="">Contraseña:</label>

    <input type="password" formControlName="Password" placeholder="password">
    @if (formulario.controls['Password'].getError('required')&&formulario.controls['Password'].touched) {

    <p class="Error">Se debe llenar el campo requerido</p>


    }
    @if (formulario.controls['Password'].getError('minlength')&&formulario.controls['Password'].touched) {
    <p class="Error">La contraseña no puede contener un minimo de 6 letras </p>

    }

    @if (validadorMensajeEspecifico) {
    <p class="Error">{{mensajeEspecifico}}</p>
    }
  </form>
  <div class="botones">
    <button class="SalirRegistro" (click)="btVolver()">Volver</button>
    <button class="Confirmar" (click)="addUsuario()" (keydown.enter)="addUsuario()">Confirmar</button>
  </div>
  }

  @if (isLoggingButtonShowing) {

  <button (click)="btLogueo()" class="IniciarSesion">Iniciar Sesion</button>

  }

  @if (isFormLoginShowing) {
  <form class="formularioRegistro" [formGroup]="formulario" (ngSubmit)="checkLoggedUsuario()"
    (keydown.enter)="checkLoggedUsuario()">

    <label for="usuario">Usuario:</label>
    <input type="text" value="''" formControlName="Username" placeholder="example@gmail.com" id="usuario">
    @if (formulario.controls['Username'].getError('required')&&formulario.controls['Username'].touched) {

    <p class="Error">Campo requerido</p>


    }
    @if (formulario.controls['Username'].getError('minlength')&&formulario.controls['Username'].touched) {
    <p class="Error">El Usuario no puede contener un minimo de 6 letras</p>

    }

    <label for="password">Contraseña:</label>

    <input type="password" formControlName="Password" placeholder="password" id="password">
    @if (formulario.controls['Password'].getError('required')&&formulario.controls['Password'].touched) {

    <p class="Error">Campo requerido</p>


    }
    @if (formulario.controls['Password'].getError('minlength')&&formulario.controls['Password'].touched) {
    <p class="Error">La contraseña no puede contener un minimo de 6 letras</p>

    }
    @if (validadorMensajeEspecifico) {
    <p class="Error">{{mensajeEspecifico}}</p>
    }
    <button (click)="btOlvideContrasenia()">¿olvidaste tu contraseña?</button>

    <button (click)="onClickGoogle()">Iniciar Sesion con Google</button>
  </form>
  <div class="botones">
    <button class="SalirRegistro" (click)="btVolver()">Volver</button>
    <button class="Confirmar" (click)="checkLoggedUsuario()">Confirmar</button>
  </div>
  }
  @if(isFormForgotPasswordShowing)
  {

  <form class="formOlvideContraseña" [formGroup]="formulario">
    <p class="titulo">¿olvidaste tu contraseña?</p>

    <p class="subtitulo">ingrese su correo electronico para crear una contraseña nueva</p>
    <input type="text" value="''" formControlName="Username" placeholder="example@gmail.com">

    @if (validadorMensajeEspecifico) {

    <p class="mensaje">{{mensajeEspecifico}}</p>

    }
  </form>

  <div class="botones">
    <button class="SalirRegistro" (click)="btVolver()">Volver</button>
    <button class="Confirmar" (click)="btEnviarGmail()">Enviar</button>
  </div>
  }
</div>
