<nav>
  <img class="imagenLogueo" src="\assets\imagenes\Pokebox-4-11-2024(1).png" alt="imagen usuario">
  <ul>
    @if (perfilActivo) {
    <button class="homePage" routerLink="/main-page">
      <img class="imagenUsuario" src="assets/imagenes/home_icon.png" alt="imagen home page">
      <p>Home</p>
    </button>
    <button class="homePage" (click)="goToPerfil()">
      <img class="imagenUsuario" src="assets/imagenes/images.png" alt="imagen usuario">
      <p>Perfil</p>
    </button>

    <button class="homePage" (click)="goToObjetos()">
      <img class="imagenUsuario" src="assets/imagenes/images.png" alt="imagen usuario">
      <p>Objetos</p>
    </button>
    }
  </ul>
  <button class="boton2" (click)="onLonginLogout()" (click)="llamarDbGuardarDatos()" >
    <img class="imagenUsuario" src="assets/imagenes/log_out.webp" alt="">
    <p>{{ textButton }}</p>
  </button>
</nav>
