nav {
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0.3px;
}
.imagenLogueo {
  width: 300px; /* Ajusta el ancho de la imagen */
  height: auto;
  font-size: small;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  margin-left: 1rem;
  font-size: 2rem;
  color:black;
}
button {
  border: none;
  font-size: 2rem;
  background-color: red;
  color: white;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
}
