nav {
  background-color: #7FA185;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imagenLogueo {
  width: 25vh;
  /* Ajusta el ancho de la imagen */
}

.homePage {
  margin-right: 150px;
}

ul,
li,
a {
  text-decoration: none;
  margin-left: 1rem;
  font-size: 2rem;
  color: black;
}

ul,
li {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.boton1 {
  margin-top: 100px;
}

.boton2 {
  border: none;
  font-size: 1rem;
  background-color: red;
  color: white;
  padding: 0.5rem 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.imagenUsuario {
  width: 7vh;
  cursor: pointer;
}
