nav {
  background-color: #7FA185;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0.3px;
}

.imagenLogueo {
  width: 25vh;
  /* Ajusta el ancho de la imagen */
  height: auto;
  font-size: small;
}

.homePage {
  margin-right: 150px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  margin-left: 1rem;
  font-size: 2rem;
  color: black;
}

.boton1 {
  margin-top: 100px;
}

.boton2 {
  border: none;
  font-size: 1rem;
  background-color: red;
  color: white;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
}

.imagenUsuario {
  width: 70px;
}
